<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleyk.core.mapper.AppVerifyMapper">

    <select id="getByIpAddr" resultType="com.appleyk.core.entity.AppVerify">
        SELECT *
          from app_verify_t
         where ip_addr = #{ipAddr}
    </select>
</mapper>
